.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  height: 100vh;
}

.login-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  background-color: #2c364c;
  padding: 30px;
  border-radius: 10px;
  min-width: 40vw;
  max-width: 90px;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-component {
  margin: 7px;
}

.input-label {
  color: #f8fafc;
}
